*{
    padding: 0;
    margin: 0;
}


body{
    background-image: url(img3/74751-pop-art.jpg);
    height:100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
h1{
    font-family: 'Comic Neue', cursive;
    font-size: 50px;
    color: black;
    background-color: red;
    height: 70px;
    width: 350px;
    padding: 20px;
    padding-left: 20px;
    margin: 10px;
    border: 6px black solid;
   
}
span{
    font-family: 'Comic Neue', cursive;
    font-size: 60px;
    color: white;
}
img{
    float: right;
    margin-top: 150px;
    margin-right: 720px;
    width: 140px;
    
}

nav{
    
    font-family: 'Comic Neue', cursive;
    font-size: 60px;
    transform: skewY(-5deg);
    margin-left: 15px;
    text-decoration: none;

   
}


li a{
    text-decoration: none;
    color: black;
    margin-left: 40px;
    padding: 10px;
    background-color: magenta;
    border: 5px black solid;
    transition:all 0.8s;
}
li a:hover{
    height:  700px;
    width: 700px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    color: white;
    background-color: rgb(0, 0, 0);
    border:red solid 5px;
    border-radius: 10px;
}


